/* ==========================================================================
   Credits
   ========================================================================== */
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
  @include respond(999) {
    width: 50%;
  }
}

.grid-item {
  float: left;
  display:block;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item img:hover{
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;

}
