/* ==========================================================================
   Helper classes
   ========================================================================== */
.clear {
	clear: both;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.img-responsive{
	width:100%;
}
ul.menu li{
	margin: 0px 15px;
}
ul.menu li.last{
	margin-right:0px;
	padding-right:0px;
}
.section-arrow{
	position: absolute;
	left: 50%;
	bottom: 30px;
	height: 4%;
	width: 40px;
	margin-left: -17px;
	display: block;
	z-index: 10;
	color:white;
	a:link, a:visited{
		color:white;
	}
	a i:hover{
    background: $site-color2;
    z-index: 0;
	}
	a i{
		font-size:28px;
		line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius:50%;
	}
}
.scroll-up-arrow{
	position: fixed;
	left: 90%;
	bottom: 35px;
	height: 50px;
	width: 50px;
	margin-left: -17px;
	display: none;
	z-index: 999999;
	color:white;
	a:link, a:visited{
		color:white;
		border-radius:50%;
	}
	a i:hover{
    z-index: 0;
	}
	a i{
		background:$site-color2;
		font-size:26px;
		line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius:50%;
    
	}
	@include respond(999) {
		display:none;
  }
}
.btn-pushmenu {
  display: none;
}
.section-title {
		margin: 60px 0;
		font-size: 50px;
    line-height: 50px;
    text-align:center;
    position: relative;
    @include respond(999) {
      margin: 50px 0;
      font-size: 40px;
      line-height: 40px;
    }
}
.download-button{
	text-align:center;
	color:white;	
	a:link, a:visited{
    color: white;
	}
	a i{
		margin-right:10px;
	}
}
/* ==========================================================================
   Social styling
   ========================================================================== */
.social-icons {
    margin: 20px 0px;
    a i{
    position: relative;
    color: #fff;
    font-size: 26px;
    margin: 0 10px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius:50%;
		}
		a i::before {
    position: relative;
    z-index: 1;
		}
		a i::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius:50%; 
    -webkit-transition: all 300ms;
       -moz-transition: all 300ms;
         -o-transition: all 300ms;
            transition: all 300ms;            
		}
		a i:hover::after{
    background: $site-color2;
    z-index: 0;
		}
}
 .social-icons.inner{
  text-align:center;
    a i{
      color:$site-color4;
    }
    a i:hover::after{
    background: $site-color6;
    z-index: 0;
    }
  }