@CHARSET "UTF-8";
$font-family1 : 'Noto Sans', sans-serif;
$site-color1: #68c3a3;
$site-color2: #5ea3c3;
$site-color3: #a4b9c3;
$site-color4: #242831;
$site-color5: #f68385;
$site-color6: #763f53;
$links-color: #5ea3c3;
$site-padding:25px;
$site-padding-mobile:15px;
$site-margin:25px;
$site-margin-mobile:15px;
@import 'responsive';
@import 'general';
@import 'helper-classes';
@import 'header';
@import 'sections';
@import 'credits';
@import 'footer';