!!! 5
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html{lang: "en"}
  %head
   %meta{charset: "utf-8"}
   %meta{content: "IE=edge", http-equiv: "X-UA-Compatible"}
   %meta{name: "description", content: "adonisdimas"}
   %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
   %title= "Adonis Dimas Personal website"
   %link{href: "css/style.css", rel: "stylesheet"}/
   %link{href: "https://fonts.googleapis.com/css?family=Arimo:400,400italic,700italic,700", rel: "stylesheet"}/
   %link{href: "img/icon.ico", rel: "shortcut icon"}/   
   %script(src="js/lib/jquery.min.js")
   %script(src="js/lib/jquery-ui.min.js")
   %script(src="js/main.js")
 %body
  %header
  %main
  %footer
   %p
    Copyright 2011 My Name